<div class="text-layout">
    <h1>Common pipes</h1>
    <p>
        Pipes included in Angular
    </p>
</div>


<div class="grid">
    <div class="col-4">
        <p-card header="uppercase"
                subheader="JuanJo | uppercase">
                {{ 'JuanJo' | uppercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="lowercase"
                subheader="JUANJO | lowercase">
                {{ 'JUANJO' | lowercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="titlecase"
                subheader="jUANjO | titlecase">
                {{ 'jUANjO' | titlecase}}
        </p-card>
    </div>
</div>


<div class="text-layout">
    <h1>Date pipe</h1>
    <p>
        Date pipe to show formatted dates
    </p>
</div>


<div class="grid">
    <div class="col-4">
        <p-card header="Date"
                [subheader]="today.toString()">
                <ul style="list-style: none;">
                    <li class="mb-2">
                        <div class="list-subtitle">{{today | date:'shortTime'}}</div>
                        <span class="list-item-text">today | date:'shortTime'</span>
                    </li>
                    <li class="mb-2">
                        <div class="list-subtitle">{{today | date:'medium'}}</div>
                        <span class="list-item-text">today | date:'medium'</span>
                    </li>
                    <li class="mb-2">
                        <div class="list-subtitle">{{today | date:'mm:ss'}}</div>
                        <span class="list-item-text">today | date:'mm:ss'</span>
                    </li>
                    <li class="mb-2">
                        <div class="list-subtitle">{{today | date:'full'}}</div>
                        <span class="list-item-text">today | date:'full'</span>
                    </li>
                    <li class="mb-2">
                        <div class="list-subtitle">{{today | date:'long':'GMT-5'}}</div>
                        <span class="list-item-text">today | date:'long':'GMT-5'</span>
                    </li>
                    <li class="mb-2">
                        <div class="list-subtitle">{{today | date:'long':'GMT-5':'en'}}</div>
                        <span class="list-item-text">today | date:'medium':'en'</span>
                    </li>
                    <li class="mb-2">
                        <div class="list-subtitle">{{today | date:'long':'GMT-5':'fr'}}</div>
                        <span class="list-item-text">today | date:'medium':'fr'</span>
                    </li>
                </ul>

        </p-card>
    </div>
</div>